<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Spring DataBase</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    
</head>

<body>
<div class="container">
<h3>DataBase SpringBoot Tutorial</h3>
<div class="posts" th:each="post : ${posts}">

<hr/>
<h4 th:text="${post.title}">Details in Database</h4>
<p th:text="${post.body}">Body Of the Data</p>
</div>
</div>
</body>

</html>